# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
DerivedData/
build/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Firebase — keep keys out of GitHub
GoogleService-Info.plist

# macOS
.DS_Store
.__MACOSX
